.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.icon-bar {
  height: 2px;
  width: 18px;
  margin: 3px 0;
  display: block;
  background-color: #FFF;
}
.mobile-btn {
  border: 1px solid #000;
  background-color: #0a0a0a;
  background-image: -moz-linear-gradient(top, #111111, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#000000));
  background-image: -webkit-linear-gradient(top, #111111, #000000);
  background-image: -o-linear-gradient(top, #111111, #000000);
  background-image: linear-gradient(to bottom, #111111, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff000000', GradientType=0);
  box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 8px;
  position: absolute;
  top: 11px;
  left: 5%;
}
.mobile-btn:link {
  color: #FFF;
}
.mobile-btn:hover {
  color: #69AABA;
}
.mobile-btn:visited {
  color: #FFF;
}
.mobile-btn:active {
  color: #69AABA;
}
.responsive-transition {
  -webkit-transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
  transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
}
@media (max-width: 600px) {
  /* Deactivate Slider */
  #slider .item {
    display: none;
  }
  #slider .init-slide {
    display: block;
  }
  .container {
    width: 90%;
    margin: 0 5%;
  }
  /* Project Pages */
  .hero {
    height: 360px;
  }
  .hero h2 {
    font-size: 3.75em;
  }
  .hero h2.long-ttl {
    font-size: 3.25em;
  }
  .hero h3 {
    font-size: 1.2em;
  }
  .project-control {
    display: none;
  }
  #header .span7 {
    width: auto;
  }
  .shim-40,
  .shim-80,
  .shim-120,
  .shim-160 {
    height: 20px !important;
  }
  .shim-40.hold,
  .shim-80.hold,
  .shim-120.hold,
  .shim-160.hold {
    height: 40px !important;
  }
  hr.up {
    margin: 15px 0;
  }
  .project.copy .row,
  .project.copy .row-fluid {
    margin-left: 0;
  }
  .project.copy .row [class*="span"],
  .project.copy .row-fluid [class*="span"] {
    width: 100%;
    float: none;
    position: static;
    margin-left: 0;
  }
  .project.copy img,
  .project.copy .absolute {
    position: static !important;
  }
  /* Our Work */
  .projects .span4 {
    height: 315px;
  }
  .projects .span4 img {
    max-width: 115%;
  }
  .projects .span4 div {
    height: 200px !important;
  }
  .projects .span4 p {
    white-space: normal !important;
  }
  * {
    float: none;
  }
  img {
    margin: 5px auto !important;
    max-width: 100% !important;
  }
  .about-us .service .pad .graphic {
    display: none;
  }
  .about-us .service .pad h3,
  .about-us .service .pad p,
  .about-us .service .pad ul {
    margin-left: 0;
  }
  .about-us .clients {
    /*width: 306px;*/
    -webkit-background-size: 127%;
    -moz-background-size: 127%;
    -o-background-size: 127%;
    background-size: 127%;
  }
}
@media (max-width: 480px) {
  #header .twitter {
    display: none;
  }
  .hide-tablet {
    display: block !important;
  }
  .hide-mobile {
    display: none !important;
  }
  /*  Begin Nav */
  #logo {
    float: none;
    width: 100px;
    margin: 0 auto;
  }
  #logo a {
    background-position: center center;
  }
  #nav li {
    display: none !important;
  }
  #menu-toggle {
    display: none;
  }
  .mobile-menu #menu-toggle {
    display: block;
  }
  .mobile-menu #nav {
    clear: both;
    width: 100%;
    display: none;
    margin: 0;
    position: static;
  }
  .mobile-menu #nav li {
    display: block !important;
    float: none;
    background: #000;
    border-bottom: 1px solid #222;
  }
  .mobile-menu #nav li a {
    font-size: 1.2em;
    color: #FFF;
  }
  /* Our Work */
  .back .back-btn {
    display: block;
  }
  #nav {
    -webkit-box-shadow: 0 4px 25px #000000;
    -moz-box-shadow: 0 4px 25px #000000;
    box-shadow: 0 4px 25px #000000;
    float: none;
    position: absolute;
    top: 0;
    left: 10px;
  }
  .our-work #nav li.our-work {
    display: block !important;
  }
  .our-work #nav li.our-work a {
    border: 1px solid #000;
    background-color: #0a0a0a;
    background-image: -moz-linear-gradient(top, #111111, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#000000));
    background-image: -webkit-linear-gradient(top, #111111, #000000);
    background-image: -o-linear-gradient(top, #111111, #000000);
    background-image: linear-gradient(to bottom, #111111, #000000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff000000', GradientType=0);
    box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 8px;
    position: absolute;
    top: 11px;
    left: 5%;
    position: relative;
    left: 3%;
    top: 0px;
    font-size: 1em;
    font-weight: 500;
    margin-top: 11px;
    padding: 6px 8px;
  }
  .our-work #nav li.our-work a:link {
    color: #FFF;
  }
  .our-work #nav li.our-work a:hover {
    color: #69AABA;
  }
  .our-work #nav li.our-work a:visited {
    color: #FFF;
  }
  .our-work #nav li.our-work a:active {
    color: #69AABA;
  }
  #nav {
    width: auto;
  }
  .projects h2,
  .project h2 {
    font-size: 3em;
    font-weight: 300;
  }
  .projects h3,
  .project h3 {
    font-size: 1.15em;
    padding-right: 0;
  }
  .projects h4,
  .project h4,
  .projects p,
  .project p {
    padding: 0px !important;
  }
  .projects img,
  .project img {
    margin: 10px 0;
  }
  /* About Us */
  .about-us .service .pad {
    padding: 15px 20px;
  }
  .about-us .partners {
    padding: 20px 0;
  }
  .about-us .partners p {
    margin-left: 0;
  }
  .about-us .clients {
    -webkit-background-size: 170%;
    -moz-background-size: 170%;
    -o-background-size: 170%;
    background-size: 170%;
    height: 200px;
  }
  /* End Nav */
  .hide-mobile {
    display: none;
  }
  .hide-full {
    display: block;
  }
  /* Home Page */
  .banner {
    width: auto;
  }
  #slider .item,
  #slider .banner {
    height: auto;
  }
  #slider .item {
    position: static;
  }
  #slider {
    height: auto;
    margin-bottom: 20px;
  }
  #slider .slide0 h3 {
    margin: 0;
    font-size: 1.3em;
  }
  #slider .slide0 .slide-ttl {
    margin: -10px 0 -25px -8%;
    max-width: 110%;
  }
  #slider .slide0 .graphic {
    position: static;
    margin: 15px 5% 0 8%;
    max-width: 80%;
    float: none;
  }
  #slider .slide0 .cta {
    background-image: none;
  }
  .second-tier h2 {
    font-size: 2.3em;
    margin-bottom: 18px;
  }
  .second-tier .span4 {
    padding: 0;
    margin: 8px 0;
  }
  .second-tier .span4 div {
    padding: 5% 6% 4% 6%;
  }
  .second-tier .cta {
    margin: 15px 0 0 0;
  }
  .third-tier .thumb-wrap {
    height: auto;
  }
  .third-tier p {
    padding: 0;
    font-size: 1em;
  }
  .third-tier .past-project {
    position: static;
    padding: 0;
    margin-top: 50px;
  }
  .second-tier,
  .third-tier {
    padding-bottom: 30px;
  }
  /* Work overview */
  .projects .span4 {
    height: auto !important;
    margin-top: 35px;
    width: 100%;
    margin-left: 0;
  }
  .projects .span4 img {
    max-width: 100%;
    margin: 0px auto !important;
    display: block;
  }
  .projects .span4 div {
    height: auto !important;
  }
  .projects .span4 a {
    position: relative;
    left: inherit !important;
  }
  .projects .span4 h5 {
    margin-top: 8px;
  }
  .projects .span4 h5,
  .projects .span4 p {
    padding-left: 10% !important;
  }
  /* Project Pages */
  .shim-40,
  .shim-80,
  .shim-120,
  .shim-160 {
    display: none;
  }
  #hero-graphic {
    position: static;
    margin: inherit auto;
  }
  .hero {
    height: 320px;
  }
  .hero h2 {
    font-size: 3.25em;
  }
  .hero h2.long-ttl {
    font-size: 2.5em;
  }
  .hero h3 {
    font-size: 1.2em;
  }
  .project.copy {
    padding: 10px 0 30px 0;
  }
  .project.copy img {
    position: static !important;
  }
  .project.copy p {
    font-size: 105%;
    line-height: 165%;
  }
  .project.copy .span1,
  .project.copy .span2,
  .project.copy .span3,
  .project.copy .span4,
  .project.copy .span5,
  .project.copy .span6,
  .project.copy .span7,
  .project.copy .span8,
  .project.copy .span9,
  .project.copy .span10,
  .project.copy .span11,
  .project.copy .span12 {
    margin: 1.5em 0 0 0;
    height: auto !important;
  }
  .project.copy .clear-pad {
    padding: 0px !important;
    margin: 0px !important;
  }
  hr.up.nav-divider {
    margin-top: 20px;
    background-size: 100% 50%;
  }
  .next-project,
  .prev-project {
    margin-top: 0;
    width: 35% !important;
  }
  .next-project a,
  .prev-project a {
    font-size: 135%;
    line-height: 180%;
    font-weight: 300;
  }
  .view-all-work {
    display: none;
  }
  /* Footer */
  #footer,
  .collapse .container {
    padding: 15px 0;
  }
  #footer .span3 {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }
  #footer .span3 .pad {
    margin: 0 !important;
  }
  #footer .span3 .content {
    height: auto;
  }
  #footer .span3:after {
    width: 100%;
    height: 1px;
    border-right: none;
    border-bottom: 1px solid #4D4D4D;
    top: inherit;
    bottom: 0;
  }
  #footer .twitter .tweet-wrap {
    width: auto;
  }
  #footer .twitter #tweet-txt {
    height: auto;
  }
  #footer .api-link {
    position: static;
    clear: both;
    padding: 10px 0;
  }
  #sub-footer form {
    display: none;
  }
  /* 404 Page */
  .error404 h3,
  .error404 p {
    padding: 0;
  }
  .error404 p {
    font-size: 1.15em;
  }
  .error404 h3 {
    margin-top: 30px;
    font-size: 2.25em;
  }
  .error404 #darth {
    position: static;
    transform: scale(0.55, 0.55);
    -ms-transform: scale(0.55, 0.55);
    /* IE 9 */
  
    -webkit-transform: scale(0.55, 0.55);
    /* Safari and Chrome */
  
    -o-transform: scale(0.55, 0.55);
    /* Opera */
  
    -moz-transform: scale(0.55, 0.55);
    /* Firefox */
  
    transform-origin: left top;
    -ms-transform-origin: left top;
    /* IE 9 */
  
    -webkit-transform-origin: left top;
    /* Safari and Chrome */
  
    -o-transform-origin: left top;
    /* Opera */
  
    -moz-transform-origin: left top;
    /* Firefox */
  
  }
  /*
  	// Original bootstrap styles
  	
    // Smooth out the collapsing/expanding nav
    .nav-collapse {
      -webkit-transform: translate3d(0, 0, 0); // activate the GPU
    }
  
    // Block level the page header small tag for readability
    .page-header h1 small {
      display: block;
      line-height: @baseLineHeight;
    }
  
    // Update checkboxes for iOS
    input[type="checkbox"],
    input[type="radio"] {
      border: 1px solid #ccc;
    }
  
    // Remove the horizontal form styles
    .form-horizontal {
      .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
      }
      // Move over all input controls and content
      .controls {
        margin-left: 0;
      }
      // Move the options list down to align with labels
      .control-list {
        padding-top: 0; // has to be padding because margin collaspes
      }
      // Move over buttons in .form-actions to align with .controls
      .form-actions {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  
    // Modals
    .modal {
      top:   10px;
      left:  10px;
      right: 10px;
    }
    .modal-header .close {
      padding: 10px;
      margin: -10px;
    }
  
    // Carousel
    .carousel-caption {
      position: static;
    } */
}
