//
// Responsive: Tablet to desktop
// --------------------------------------------------

@import 'mixins.less';
@import 'variables.less';

@media (max-width:959px) {
	
	.static .header, .blog .header{
		hr.up{ margin-bottom: 20px;  }
	}
	
	.container{
		max-width:728px;
		margin:0 auto;
	}
	
	.hero{ 
		height:480px; //originally 535px, 480px, 420px, 350px 
		h2{ font-size: 4.5em; }
		h2.long-ttl{ font-size:4em; }
	} 
	
	#header{
		.twitter{ 
			width:30px;
			float:right;
			span{ display:none; } 
			a{ height:51px; padding:0; width:30px; }
		}
	}
	
	#nav{
		//float:right;
		overflow:hidden;
		width:auto;
		margin-left:5%;
		//li{ float:right; }
	}
	
	
	br{ display:none; }
	br.hold{ display: inherit; }
	#footer br{ display: inherit; }
	
	#footer{
		
		.span3{ 
			width: 50%;//(@fluidGridColumnWidth*6)+( @fluidGridGutterWidth*3 ); 
			margin:0; 
			padding: 0 0 40px 0;
			.pad{ padding:0;} 
		}
		.blog, .weather{
			.pad{ margin-left:@fluidGridGutterWidth*3; }
		}
		.blog:after{
			height:1px;
			width:200%;
			clear:both;
			border-bottom: 1px solid #4D4D4D;
			right:0;
			bottom:10px;
			top:inherit;
		}
		
	}
	
	.container.project{
		.what-it-is p{ display:block; margin:45px 0 0 0; }
	}
	
	img{ max-width:100%;}

	
	.next-project, .prev-project{ 
		margin-top:0;
		width:120px !important; 
		a { width:100% !important; margin:0 !important; font-size: 150%;	 }
	}
	.next-project{ float:right; }
	.view-all-work{ width:100%; margin:0; }
	
	.bg-cover{ .background-size( ~"cover !important"); }
	.bg-contain { .background-size( ~"contain !important");}
	
	#hero-graphic{ .background-size(cover); }
	hr.up, hr.down { .background-size( ~"contain !important" ); }	
	
	.projects{ padding-bottom:50px; }
	
	.projects .span4{
		height:350px;
		width: 46%; 
		margin-right:8%;
		
		&:nth-child(even){ margin-right:0;}
	}
	
	
	/* Home */
	
	//#slider .bg{ .background-size(~'contain !important'); }	
	
	.second-tier { 
		padding-bottom:60px;
		h2{ margin-top:0; font-size: 3em;}
		.span4{
			h3{ font-size: 1.7em;}
			p{ font-size:.85em}
			margin-bottom:10px;
			div{ padding:10px 20px 10px 20px; }		
		}
	}	

	
	/* About Us */
	
	.about-us{
		
		.service{
			
			.pad{ padding:10px 15px 25px 25px; }
			h3{ font-size: 1.8em; }
		}
		
		.clients{ /*width:620px;*/ .background-size(95%); width:auto; /*height:175px;*/}
		 
		.partners p{
			margin-left: 110px;
			margin-bottom:30px;
		}
		
		.end{
			h3{ font-size:2em; font-weight:300; }
			p{ font-size:1em; }
		}
		
	} 
	
	/* Blog */
	.blog br{ display:block; }
	#secondary{
		
		width: 29%;
		margin-left: 5%; 
		
		
		.widget-title{
			margin-bottom:3px;
			font-weight:300;
		}

		#searchform{
			 
			#s{ float:left; width:60%; margin:0 4px 0 0 ; }
			.blueBtn input{
				float:left;
				width:auto;
				font-size:1.2em;
				height:auto;
				line-height:160%;
				font-weight:500;
				padding:5px 6px 4px 6px;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 959px) { // max-width:979px
	.row { width:100%;}	
	#logo { width: 110px; }
}

@media (min-width:768px) and (max-width:959px) {
	.about-us .service{ min-height: 500px; }
}

@media (min-width:601px) and (max-width: 959px){
	#nav{ display:block !important; }
}
