.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 320px) {
  .tier1 h2 {
    font-size: 2.1em;
  }
  .tier1 h3 {
    font-size: 1.25em;
  }
  .tier1 .pink-cta {
    margin-top: 10px;
  }
  .tier3 .featured-logo-sprite {
    height: auto;
    text-indent: 0;
    font-weight: 700;
    font-size: 1.5em;
    background-image: none;
    color: #FFF;
    margin: 10px 0;
    overflow: visible;
  }
  .tier3 .brand a {
    padding: 0 18px;
  }
  .tier3 .p-image {
    float: none;
  }
  .tier3 .p-image,
  .tier3 .brand {
    width: 50%;
  }
  .tier3 .brand {
    background-color: transparent;
    height: auto;
    width: 100%;
    margin: 0;
    position: static;
  }
  .tier3 .brand a {
    padding: 13px 25px 20px 25px;
  }
  .project h2,
  .projects h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 300;
  }
  /* About Us */
  /* Project Pages */
  .project.copy h4 {
    font-size: 1.5em;
    font-weight: 300;
  }
  .project.header h2 {
    font-size: 2em;
  }
}
@media (max-width: 280px) {
  #logo {
    float: right;
    margin: 0;
  }
}
