@import 'mixins.less';
@import 'variables.less';

@media (max-width: 320px) {
	#logo{ float:right; margin:0; }
	
	
	.project, .projects{
		h2{ font-size:2.2em}
		
	}
	
	/* About Us */
	
	.about-us{
		.heart{ height:1.1em; }
		.header h3{
			font-size:1.1em;
		}
		
		.clients{ height:155px;}
		
		.service .pad h3 { font-size:1.5em; /*font-weight:500;*/}
	}
}