// UP TO LANDSCAPE PHONE
// ---------------------

@import 'mixins.less';
@import 'variables.less';

.icon-bar{
	height:2px;
	width:18px;
	margin:3px 0;
	display:block;
	background-color:#FFF;
}

.mobile-btn{
	border:none;
	background-color:transparent;
	//#gradient .vertical(#111, #000);
	//@shadow: inset 0 1px 1px #555 , 0 0 0 1px rgba(255,255,255,0.15), 0 2px 6px  rgba(255,255,255,0.15);
	//.cbox-shadow(@shadow );
	.border-radius(3px);
	padding:7px 8px;
	position:absolute;
	top:11px;
	left:2%;
	
 	&:link{ color:#FFF; text-decoration:none; }
	&:hover{ color:#69AABA;text-decoration:none; }
	&:visited{ color:#FFF; }
	&:active{ color:#69AABA; }
}

.responsive-transition{
	@transition: height .15s ease-in-out, padding .15s ease-in-out, margin .15s ease-in-out;
	.transition( @transition );
}

@media (max-width: 600px) { 
	
	/*  Begin Nav */
	.hide-full {  display:block; }

	#logo{ 
		float:none; width:100px; margin:0 auto;
		a{ background-position:50% 45%;}
	}
	#nav li{ display:none !important; }
		
	#menu-toggle{ display:none; }
	.mobile-menu #menu-toggle{ display:block; }
	.mobile-menu #nav{ 
		clear:both;
		width:100%;
		display:none;
		margin:0;
		position:static;
		.border-radius( 0 0 4px 4px );
	}
	
	.mobile-menu #nav li{
		display:block !important;
		float:none;
		text-align:left;
		line-height:0%;
		background:#000;
		border-bottom:1px solid #222;
		
		a{
			font-size:1.1em;
			font-weight:700;
			color:#FFF;
			text-indent:3.5%;
			padding:18px 0;
			width:100%;
		}
	}
	
	.container{ width:90%; margin:0 5%; }
	
	.tier1 h2{ font-size:3.15em; }
	.tier2{
		.feature{ margin-top:20px !important; }
		.content{ min-height:auto; }
	}
	
	.tier3{
	
	}
	
	.project, .projects .header, .static .header, .blog .header{
		
		padding:20px 0 12px 0; //20px 0
		
		h2{ font-size:2.5em; }
		h3{ font-size: 106%;
		line-height: 150%;}
	}
	
	/* About Us */
	
	.staff{
		
		.profile{ 
			width: auto;
/*			float:left;
			display:block; 
			clear:both;*/
			margin-right: 3.83%;
		}
		
		h5{ font-size:1.4em; }
		.copy{ padding-top:0;}
		
	}
	
	.testimonials{
		blockquote{ width:96%; }
		img{ margin-right:15px !important;}
	}
	
	/* Project Pages */
	
	.project.header{
		h2{ font-size: 3em; }
	}
	
	.hero{ 
		height: 360px; 
		h2{ font-size: 3.75em; }
		//h2.long-ttl{ font-size: 3.25em;}
		h3{ font-size: 1.2em; }
	}
	
	.project.header h2{ font-size: 3em; }
	
	.project-control{ display:none; }
	
	#header .span7{ width:auto; }
	.projects .span4{
		a{	}
	}
	
	.shim-40, .shim-80, .shim-120, .shim-160{ height:20px !important; }
	.shim-40, .shim-80, .shim-120, .shim-160{ 
		&.hold{ height:40px !important; }
	}
	
	hr.up{ margin: 15px 0; }
	
	.project.copy{
		.row, .row-fluid{ margin-left:0;}

		.row [class*="span"], 
		.row-fluid [class*="span"]{ 
			width:100%; float:none; position:static;
			margin-left:0;
		}
		
		.more-pad, .more-pad.last{
			p, h4 { 
				padding:0;
			}
		}
		
		img, .absolute { position:static !important; }
	}
		
	/* Our Work */
	
	.our-work #nav{
		.cbox-shadow(none);
	}
	
	#nav{ 
		//.box-shadow( 0 4px 25px #000 );
		float:none;
		position:absolute;
		top:0;
		left:10px;		
	}
	.our-work-btn #nav{ overflow:visible; background:transparent; .box-shadow(none); }
	.our-work-btn #nav li.our-work{ 
		display:block !important; 
		background-color:transparent;
		&:hover a:before{
			border-color:transparent saturate(@blue, 25%) transparent transparent;
		}
		a{
			//.mobile-btn;
			position:relative;
			left:3%; 
			top:0px;
			
			font-size:.75em;
			font-weight:900;
			margin-top:11px;
			padding:8px 8px 8px 3px;
			
			&:before{
				content: "";
				display:inline-block;
				margin-right:5px;
				width:0;
				height:0;
				top:50%;
				border:4px solid transparent;
				border-color:transparent #FFF transparent transparent;
			}
			
			
		}
	}
	
	.back .back-btn{ display:block; }
	.back .back-btn{ 
		display:block !important;
		float:left; 
		a{
			display:block;	
			
			font-family:@fontStack;
			position:relative;
			left:4%; 
			top:0px;
			color:#FFF;
			font-size:1.1em;
			font-weight:700;
			margin-top:9px;
			padding:5px 7px;
			
			&:link{ color:#FFF; }
			&:visited{ }
			&:hover{}
			&:active{ }
		}
	}
	
	#nav{ width:auto; }
	
	.client-list li{ 
		width: 50%; 
		height:120px;
		//span{ max-width:auto;}
		.cl-sprite{ 
			margin:10px auto;
			width:100%;
			
			//background-size:50% 50%; 
		}
		span{ max-width: 135px; }
	}
	
	//*{ float:none; }
	img{ margin: 5px auto !important; max-width:100% !important; }
	
	/* About Us */
	/*
		.about-us{
			
			.service .pad{
				.graphic{ 
					width:45px;
					float:left;
					height:auto; 
					padding:0;
					margin:0 !important;
					position:relative !important;
					top:-10px;
					img{ margin:0 !important; }
				}

				h3{ float:left; width:auto; margin: 0 0 0 15px;  }
				p{  clear:left; margin:0; padding:15px 0 !important; }
				
				ul{  margin-left: 0; }
			}
			
			.clients{ 
			//width: 306px; 
			.background-size(127%); }
			
			.end .span4{
				float:none;
			}
			.end{
				.blueBtn{
					margin: 25px 0 0 0 !important;
					a{
						display:block;
						padding:4px 0 2px 0;
						width:100%;
					}
				}
			}
			
		}*/
	
	/* Blog */
	
	#comments form input, #comments form textarea{
		width:95%;
	}
	
	
	/* Footer */
	#footer .modules{  margin: 30px 0; }
	 
}

@media (max-width: 480px) {
	
	blockquote{ font-size:1.5em; margin:20px 0; }
	
	//h3{ font-size: 1.75em; font-weight: 300; }
	
	.static .header, .blog .header{
		
		h2{ font-size:3em; }
		h3{ font-size:1.1em; }
		
		br.hold{ display:none; }
		hr.up{ margin-bottom: 20px;  }
	}
	
	#header .twitter{ display:none;}
	.hide-tablet{ display:block !important; }
	.hide-mobile{ display:none !important; }
	
	/* Home */
	
	.tier1{
		padding:20px 0;
		h2{ font-size: 2.5em }
		h3{ font-size: 1.55em }
	}
	
	/* Our Work */
	
	.container .project h5{ font-size: 1.75em; }
	
	/* About Us */
	
	/* Join Us*/
	
	.join-us{
		.jobs h3{ font-size:1.75em;}
	}
	
	/* End Nav */
	
	.hide-mobile{ display:none; }
	
	/* Contact Us */
	
	.contact-us{
		.header hr.up{ margin-bottom:0;}
		.left{ margin-top:0 !important; }
	}
	
	
	/* Home Page */
	
	
	/* Work overview */
	
	.featured-row{
		.project-thumb{
			margin-right:0;
			max-width:300px;
			width:auto;
			float:left;
			.label{ padding:21px 15px; background-image:none; }
		}
	}
	
	.project-grid {
		.project-thumb{
			width:auto;
			float:left;
			vertical-align:top;
		}
		.label{ padding-left: 15px; background-image:none; }
		
	}
	
	
	.featured-row,.project-grid{
		width:auto;
		max-width:300px;
		margin:0px auto;
	}
	

	/* Project Pages */
	.shim-40, .shim-80, .shim-120, .shim-160{ display:none !important; }
	
	#hero-graphic { position:static; margin:inherit auto;}
	
	.hero{ 
		height: 280px; 
		h2.long-ttl{ font-size: 2.5em;}
		h3{ font-size: 1.2em; }
	}
	
	//.project.header h2{ font-size: 2.25em; font-weight:300; }
	
	.project.copy{ 
		padding: 10px 0 30px 0; 
		.row-fluid blockquote{
			font-size:1.4em; margin-top:0 !important;			
		}
		img{ position:static !important; }
		h4{ font-size:1.75em; }
		//p{ font-size: 105%; line-height: 165%; }
		
		.span1, .span2, .span3, .span4, 
		.span5, .span6, .span7, .span8, 
		.span9, .span10, .span11, .span12{
			margin: 1em 0;
			height:auto !important;
		}
		.clear-pad{ padding:0px !important; margin:0px !important; }		
	}
	
	hr.up.nav-divider{
		margin-top:20px;
		background-size:100% 50%;
	}
	
	.next-project, .prev-project{ 
		margin-top:0;
		
		width:35% !important;
		a{ font-size:135%; line-height:180%; font-weight:300; }
	}
	.view-all-work{ display:none; }	
	
	/* Footer */
	//#footer{ background: red none;}
	#footer, .collapse .container{ padding: 15px 0; }
	
	#footer .modules{
		
		// hidden on mobile
		display:none; 
		
		margin:15px 0;
		h5{ float:none; margin-right:2% }
		
		.twitter .bird{ left:inherit; right:0; }
		@offset: right;
		.blog h5	{ background-position: @offset -63px; }
		.music h5	{ background-position: @offset -123px; }
		.weather{
			h5{ background-position: 1000px 1000px; }
			&.sunny h5	{ background-position: @offset -363px; }
			&.foggy h5	{ background-position: @offset -183px; }
			&.cloudy h5	{ background-position: @offset -423px; }
			&.stormy h5	{ background-position: @offset -243px; }
			&.partly h5	{ background-position: @offset -303px; }
			&.rainy h5	{ background-position: @offset -483px; }
		}
		
		#lastfm {
			.frame{ width:40%; margin-right:2%;}
			img{ margin: 0 !important; }
			.details{
				width:58%;
				margin-left:42%;
			}
		}
		.span3{
			width:100%;
			margin:0;
			padding-bottom:15px;
			.pad{ margin:0 !important; }
			.content{ height: auto; }
			&:after{
				width:100%;
				height:1px;
				border:none;
				background: transparent none repeat-x scroll 0 0;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAADUlEQVQIHWM4858BCAAJygHMQVdwbQAAAABJRU5ErkJggg==);
				
				top:inherit;
				bottom:0;
			}
		}
		.twitter{ 
			//.tweet-wrap{ width:auto; }
			//#tweet-txt { height:auto; }
		}
		
		.api-link{ position:static; clear:both; padding:10px 0; }
	}
	
	
	.sub-footer{ 
		form{ display: none; }
	}
	/* 404 Page */
	
	.error404{
		h3,p{ padding:0;}
		p{ font-size: 1.15em}
		h3{ margin-top:30px; font-size:2.25em }
		#darth{
			position:static;
			.transform( scale(.55,.55) );
			.transform-origin( left top );
		}
	}
	
	/* Blog */
	
	.blog{
		.container{ margin-bottom:0; }
		.header {
			h2{ font-size:3em; font-weight:300; }
			h3{ font-size:1.15em; }
		}
	}
	
	h1.entry-title{ font-size:1.75em; }
	.entry-content p{ font-size:100%; }
	
	.entry-meta{
		
		p{ float:none; margin:0 0 0 45px; padding-top:10px;	}
		img{ position:absolute; }
		.social_btns{ display:none; }
	}
	
	#nav-below .meta-nav{ display:none !important; }
	
	#nav-below{
		padding-left:0; padding-right:0;
		.nav-previous,.nav-next{
			width:40%;
			a{ padding-left:5%; padding-right:5%; width:90%; }
		}
	}
}