//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.icon-bar{
	height:2px;
	width:18px;
	margin:3px 0;
	display:block;
	background-color:#FFF;
}

.responsive-transition{
	@transition: height .15s ease-in-out, padding .15s ease-in-out, margin .15s ease-in-out;
	.transition( @transition );
}

@media (max-width: 767px) {
	
	.static .header, .blog .header{
		
/*		h2{ font-size:4.5em; }
		h3{ font-size:1.2em; padding-right:0; }*/
		
		br.hold{ display:none; }
/*		hr.up{ margin-bottom: 20px;  }*/
	}
	
	blockquote{ font-size: 1.8em; }
	
	
	#logo{ width:95px; }
	#nav{
		float:right;
		margin:0;
		li a{ margin-left:8px; margin-right:8px; font-size:78%; }
	}

	.container{
		width: 560px;
		margin:0 auto;
	}
		
	.hide-tablet{ display:none !important; }
	
	.project, .projects .header, .static .header, .blog .header{
		
		padding:35px 0 12px 0; //20px 0
		
		h2{ font-size:3.75em; }
		h3{ font-size:1.45em;}
	}
		
	/* Home */
	
	.tier1 h2{ font-size:4.5em; }
	.tier2{
		.description, .copy h3{ width:100%; }
		.description, .copy h3, .black-cta{ float:none; }
		.black-cta{ margin:15px 0; }
		.span9{ margin-top:0; }
		.tcenter .black-cta{ display:inline-block; float:none; }
	}
	
	.tier3{
		.top-projects{ 
			width:100%;
			right:0;
			padding-bottom:20px;
		}
		.top-project{ 
			background-color: #313F40;
			margin:0 0 15px 0;
			width:100%; clear:both;
			position:relative;
			.clearfix;
		}
		
		.p-image{ float:left; }
		.p-image,.brand{ width:50%; }
		
		.brand{
			right:0;
			background-color:transparent;
			height:100px;
			margin-top:-50px;
			position:absolute;
			top:50%;

			a{ padding: 0 25px; }
			
		}
	}
	
	.sub-footer{ 
		.span3{ width:100%; }
		.span9{
			label{ display:block; text-align:left; margin:8px 0; }
			.folio-url{ margin-left:0; }
		} 
		
	}
	
	/* About Us */
	
	.staff{
		
		.profile{ 
			width: 46.17%;
			margin-right: 3.83%;
			
		}
		h5{ font-size:1.4em; }
		.copy{ padding-top:0;}
		
	}
	
	/* Project Pages */
		
	.projects, .project{
		h4{ font-size: 2em; }
		p{ font-size: 100%; }
	}
	
	.project.copy{
		p,h4{ padding-right:0;}
	}
	
	// put cite under quote
	.project.copy .row-fluid blockquote{ 
		font-size:1.75em; 
		width:100%;
		margin: 20px 0 10px 0 !important;
	}
	
	.project.header{
		h2{ font-size: 4em; }
	}
	
	.project.copy .cite{ 
		height:auto !important; 
		background-image:none; 
		padding:0 !important;
		width:100% !important;
		clear:left;
		
		span{ margin:0; }
		span, a{ position:static; }
		a{ margin-left:10px;}
	}
	
	
	.shim-40{ height:20px; }
	.shim-80{ height:40px; }
	.shim-120{ height:60px; }
	.shim-160{ height:80px; }
	
	.row-cta{
		padding:20px 0 !important;
		.quiet{ 
			margin:20px 0 15px 0 !important;
			line-height:130%;
			text-align:center;
			font-size: 1.70em; 
		}
		.span4{ 
			margin:0 0 20px 0 !important;
			text-align:center;
			.pink-cta{ float:none; margin:0 auto; display:inline-block }
		}
	}
	
	/* Our Work */
	
	.featured-row{
		.project-thumb .label{ padding:21px 15px;  background-image:none; }
	}
	
	.project-grid {
		
		.project-thumb{
			width:47.5%;
			vertical-align:top;
		}
		.label{ padding-left: 15px; background-image:none; }
		
	}
	
	.client-list li{
		width:33.33%
	}
	
	/* About Us */
	
	.selling-points .dotted-grey{ padding:0; background:none; }
	
	/* Home */
	
	.third-tier .past-project { padding-left:0; margin-top:40px; }
	
	@import "twitter-anim.less";
	
	
	/* 404 Page */
	
	.error404{
		
		.span7{ 
			width:100%;
			margin-left:0 !important;
		}
		
		h3,p{ margin-left:0; padding-left:0 !important;}
		
		.no-overflow{ position:static; }
		#darth{
			.transform( scale(.75,.75) );
			.transform-origin( left top );
		}
	}
	
	/* Blog */
	
	#blog-content, #secondary{ width: 100%; margin:0; }
	
	.widget_recent_entries, .widget_most_popular_tags{
		display:none;
	}
	#secondary hr{ display:block; }
	#secondary #searchform{
		width:100%;
		max-width:220px;
/*		 #s { }
		.blueBtn input{ } 
*/		
	}
	
	.blog .page-title{ font-size: 1.5em; }
	
}