.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 979px) {
  .static .header,
  .blog .header {
    /*hr.up{ margin-bottom: 20px;  }*/
  
  }
  .project,
  .projects .header,
  .static .header,
  .blog .header {
    padding: 30px 0 15px 0;
  }
  .project h2,
  .projects .header h2,
  .static .header h2,
  .blog .header h2 {
    font-size: 4.75em;
  }
  .project h3,
  .projects .header h3,
  .static .header h3,
  .blog .header h3 {
    font-size: 1.65em;
  }
  .cta-wrapper {
    text-align: center;
  }
  .tier1 .pink-cta {
    position: static;
    display: inline-block;
    float: none;
  }
  .tier1 .pink-cta span {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .tier2 .description {
    width: 70%;
    float: left;
  }
  .tier2 .black-cta {
    float: left;
    margin: 0 0 0 15px;
  }
  .tier2 .caps {
    margin-bottom: 0;
  }
  .tier2 .copy {
    width: 100%;
    padding-top: 0;
    margin: 0 0 20px 0;
  }
  .tier2 .copy h3 {
    margin: 10px 0 6px 0;
    float: left;
  }
  .tier2 .white-dotted {
    width: 100%;
    margin-left: 0;
  }
  .tier2 .span9 {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .tier2 img {
    margin: 0 -15% 0 -15% !important;
    max-width: 125% !important;
    position: static;
    float: none;
  }
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
  .row-cta .quiet {
    margin: 6px 0;
    font-size: 1.70em;
    text-align: right;
  }
  #nav {
    overflow: hidden;
    width: auto;
    float: right;
  }
  br {
    display: none;
  }
  br.hold {
    display: inherit;
  }
  #footer br {
    display: inherit;
  }
  #foot,
  #footer {
    height: auto;
  }
  #footer .modules .span3 {
    width: 50%;
    margin: 0;
    padding: 0 0 40px 0;
  }
  #footer .modules .span3 .pad {
    padding: 0;
  }
  #footer .modules .blog .pad,
  #footer .modules .weather .pad {
    margin-left: 7.5%;
  }
  #footer .modules .blog:after {
    height: 1px;
    width: 200%;
    clear: both;
    background: transparent none repeat-x scroll 0 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAADUlEQVQIHWM4858BCAAJygHMQVdwbQAAAABJRU5ErkJggg==);
    right: 0;
    bottom: 10px;
    top: inherit;
  }
  #footer .modules #lastfm .details {
    float: none;
    width: auto;
    margin: 0 15px 0 85px;
  }
  #footer .modules #lastfm .details div {
    width: auto;
  }
  #footer .modules #lastfm .details .song,
  #footer .modules #lastfm .details .album {
    -webkit-mask-box-image: none;
  }
  #footer .modules #lastfm .details .song span,
  #footer .modules #lastfm .details .album span {
    white-space: normal;
  }
  .sub-footer .span3 {
    margin: 0;
  }
  .sub-footer .span9 {
    text-align: left;
    margin: 0 0 15px 0;
    width: auto;
  }
  img {
    max-width: 100%;
  }
  /* Our Work */
  .client-list li {
    width: 25%;
  }
  .project .project-control {
    display: none;
  }
  /* Home */
  /* About Us */
  /* Join Page */
  .join-us .openings {
    margin: 0 !important;
  }
  .join-us .openings .selector {
    display: none;
  }
  .join-us .openings li {
    margin: 10px 0;
  }
  .join-us .openings li,
  .join-us .openings li.first {
    border: none;
  }
  .join-us .openings a {
    padding: 10px 16px;
    font-weight: bold;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #DDD;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .join-us .openings a:link,
  .join-us .openings a:visited {
    color: #69aaba;
  }
  .join-us .openings a:hover {
    color: #FFF;
    background-color: #333;
    border-color: transparent;
  }
  .join-us .openings a:focus {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 8px rgba(105, 170, 186, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 8px rgba(105, 170, 186, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 8px rgba(105, 170, 186, 0.6);
  }
  .join-us .openings a:active {
    color: #FFF;
    border-color: transparent;
    background-color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  }
  .join-us .openings a.active {
    background-color: #000;
    border-color: transparent;
  }
  .join-us .openings a.active:link,
  .join-us .openings a.active:visited {
    color: #FFF;
  }
  /* Blog */
  .blog br {
    display: block;
  }
  #secondary {
    width: 29%;
    margin-left: 5%;
  }
  #secondary .widget-title {
    margin-bottom: 3px;
    font-weight: 300;
  }
  #secondary #searchform #s {
    float: left;
    width: 60%;
    margin: 0 4px 0 0 ;
  }
  #secondary #searchform .blueBtn input {
    float: left;
    width: auto;
    font-size: 1.2em;
    height: auto;
    line-height: 160%;
    font-weight: 700;
    padding: 5px 6px 4px 6px;
  }
}
@media (min-width: 481px) and (max-width: 979px) {
  .row {
    width: 100%;
  }
  #logo {
    width: 110px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .about-us .service {
    min-height: 500px;
  }
}
@media (min-width: 601px) and (max-width: 979px) {
  #nav {
    display: block !important;
  }
}
