.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.icon-bar {
  height: 2px;
  width: 18px;
  margin: 3px 0;
  display: block;
  background-color: #FFF;
}
.mobile-btn {
  border: 1px solid #000;
  background-color: #0a0a0a;
  background-image: -moz-linear-gradient(top, #111111, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#000000));
  background-image: -webkit-linear-gradient(top, #111111, #000000);
  background-image: -o-linear-gradient(top, #111111, #000000);
  background-image: linear-gradient(to bottom, #111111, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff000000', GradientType=0);
  box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 8px;
  position: absolute;
  top: 11px;
  left: 5%;
}
.mobile-btn:link {
  color: #FFF;
  text-decoration: none;
}
.mobile-btn:hover {
  color: #69AABA;
  text-decoration: none;
}
.mobile-btn:visited {
  color: #FFF;
}
.mobile-btn:active {
  color: #69AABA;
}
.responsive-transition {
  -webkit-transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
  transition: height 0.15s ease-in-out, padding 0.15s ease-in-out, margin 0.15s ease-in-out;
}
@media (max-width: 600px) {
  /*  Begin Nav */
  .hide-full {
    display: block;
  }
  #logo {
    float: none;
    width: 100px;
    margin: 0 auto;
  }
  #logo a {
    background-position: 50% 45%;
  }
  #nav li {
    display: none !important;
  }
  #menu-toggle {
    display: none;
  }
  .mobile-menu #menu-toggle {
    display: block;
  }
  .mobile-menu #nav {
    clear: both;
    width: 100%;
    display: none;
    margin: 0;
    position: static;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  .mobile-menu #nav li {
    display: block !important;
    float: none;
    background: #000;
    border-bottom: 1px solid #222;
  }
  .mobile-menu #nav li a {
    font-size: 1.2em;
    color: #FFF;
  }
  /* Deactivate Slider */
  #slider .item {
    display: none;
  }
  #slider .init-slide {
    display: block;
  }
  .container {
    width: 90%;
    margin: 0 5%;
  }
  /* Project Pages */
  .project.header h2 {
    font-size: 3em;
  }
  .hero {
    height: 360px;
  }
  .hero h2 {
    font-size: 3.75em;
  }
  .hero h3 {
    font-size: 1.2em;
  }
  .project.header h2 {
    font-size: 3em;
  }
  .project-control,
  .project-controls {
    display: none;
  }
  #header .span7 {
    width: auto;
  }
  .shim-40,
  .shim-80,
  .shim-120,
  .shim-160 {
    height: 20px !important;
  }
  .shim-40.hold,
  .shim-80.hold,
  .shim-120.hold,
  .shim-160.hold {
    height: 40px !important;
  }
  hr.up {
    margin: 15px 0;
  }
  .project.copy .row,
  .project.copy .row-fluid {
    margin-left: 0;
  }
  .project.copy .row [class*="span"],
  .project.copy .row-fluid [class*="span"] {
    width: 100%;
    float: none;
    position: static;
    margin-left: 0;
  }
  .project.copy img,
  .project.copy .absolute {
    position: static !important;
  }
  /* Our Work */
  .our-work #nav {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #nav {
    -webkit-box-shadow: 0 4px 25px #000000;
    -moz-box-shadow: 0 4px 25px #000000;
    box-shadow: 0 4px 25px #000000;
    float: none;
    position: absolute;
    top: 0;
    left: 10px;
  }
  .our-work #nav {
    overflow: visible;
  }
  .our-work #nav li.our-work {
    display: block !important;
  }
  .our-work #nav li.our-work a {
    border: 1px solid #000;
    background-color: #0a0a0a;
    background-image: -moz-linear-gradient(top, #111111, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#000000));
    background-image: -webkit-linear-gradient(top, #111111, #000000);
    background-image: -o-linear-gradient(top, #111111, #000000);
    background-image: linear-gradient(to bottom, #111111, #000000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff000000', GradientType=0);
    box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 1px #555555, 0 0 0 1px rgba(255, 255, 255, 0.15), 0 2px 6px rgba(255, 255, 255, 0.15);
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 8px;
    position: absolute;
    top: 11px;
    left: 5%;
    position: relative;
    left: 3%;
    top: 0px;
    font-size: 1em;
    font-weight: 500;
    margin-top: 11px;
    padding: 6px 8px;
  }
  .our-work #nav li.our-work a:link {
    color: #FFF;
    text-decoration: none;
  }
  .our-work #nav li.our-work a:hover {
    color: #69AABA;
    text-decoration: none;
  }
  .our-work #nav li.our-work a:visited {
    color: #FFF;
  }
  .our-work #nav li.our-work a:active {
    color: #69AABA;
  }
  .back .back-btn {
    display: block;
  }
  .back .back-btn {
    display: block !important;
    float: left;
  }
  .back .back-btn a {
    display: block;
    font-family: museo-sans, "Helvetica Nueue", Helvetica, Arial, sans-serif;
    position: relative;
    left: 4%;
    top: 0px;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 9px;
    padding: 5px 7px;
  }
  .back .back-btn a:link {
    color: #FFF;
  }
  #nav {
    width: auto;
  }
  .projects .span4 {
    height: 315px;
  }
  .projects .span4 img {
    max-width: 115%;
  }
  .projects .span4 div {
    height: 200px !important;
  }
  .projects .span4 p {
    white-space: normal !important;
  }
  * {
    float: none;
  }
  img {
    margin: 5px auto !important;
    max-width: 100% !important;
  }
  .about-us .service .pad .graphic {
    width: 45px;
    float: left;
    height: auto;
    padding: 0;
    margin: 0 !important;
    position: relative !important;
    top: -10px;
  }
  .about-us .service .pad .graphic img {
    margin: 0 !important;
  }
  .about-us .service .pad h3 {
    float: left;
    width: auto;
    margin: 0 0 0 15px;
  }
  .about-us .service .pad p {
    clear: left;
    margin: 0;
    padding: 15px 0 !important;
  }
  .about-us .service .pad ul {
    margin-left: 0;
  }
  .about-us .clients {
    /*width: 306px;*/
    -webkit-background-size: 127%;
    -moz-background-size: 127%;
    -o-background-size: 127%;
    background-size: 127%;
  }
  .about-us .end .span4 {
    float: none;
  }
  .about-us .end .blueBtn {
    margin: 25px 0 0 0 !important;
  }
  .about-us .end .blueBtn a {
    display: block;
    padding: 4px 0 2px 0;
    width: 100%;
  }
  /* Blog */
  #comments form input,
  #comments form textarea {
    width: 95%;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.75em;
    font-weight: 300;
  }
  .static .header h2,
  .blog .header h2 {
    font-size: 3em;
  }
  .static .header h3,
  .blog .header h3 {
    font-size: 1.1em;
  }
  .static .header br.hold,
  .blog .header br.hold {
    display: none;
  }
  .static .header hr.up,
  .blog .header hr.up {
    margin-bottom: 20px;
  }
  #header .twitter {
    display: none;
  }
  .hide-tablet {
    display: block !important;
  }
  .hide-mobile {
    display: none !important;
  }
  /* Our Work */
  .projects h3,
  .project h3 {
    font-size: 1.15em;
    padding-right: 0;
  }
  .projects h4,
  .project h4,
  .projects p,
  .project p {
    padding: 0px !important;
  }
  .projects img,
  .project img {
    margin: 10px 0;
  }
  .container .project h5 {
    font-size: 1.75em;
  }
  /* About Us */
  .about-us h3 {
    margin: 1em 0 1em 0;
  }
  .about-us .service .pad {
    padding: 15px 20px;
  }
  .about-us .partners {
    padding: 20px 0 0 0;
  }
  .about-us .partners p {
    margin-left: 0;
  }
  .about-us .clients {
    -webkit-background-size: 170%;
    -moz-background-size: 170%;
    -o-background-size: 170%;
    background-size: 170%;
    height: 200px;
  }
  .about-us hr.down {
    margin: 0;
  }
  /* Join Us*/
  .join-us .jobs h3 {
    font-size: 1.75em;
  }
  /* End Nav */
  .hide-mobile {
    display: none;
  }
  /* Contact Us */
  .contact-us .header hr.up {
    margin-bottom: 0;
  }
  .contact-us .left {
    margin-top: 0 !important;
  }
  /* Home Page */
  .banner {
    width: auto;
  }
  #slider .item,
  #slider .banner {
    height: auto;
  }
  #slider .item {
    position: static;
  }
  #slider {
    height: auto;
    margin-bottom: 10px;
  }
  #slider .slide0 h3 {
    margin: 0;
    font-size: 1.3em;
  }
  #slider .slide0 .slide-ttl {
    margin: -10px 0 -25px -8%;
    max-width: 110%;
  }
  #slider .slide0 .graphic {
    position: static;
    margin: 15px 5% 0 8%;
    max-width: 80%;
    float: none;
  }
  #slider .slide0 .cta {
    background-image: none;
  }
  .second-tier h2 {
    font-size: 2.25em;
    margin-bottom: 15px;
  }
  .second-tier .span4 {
    padding: 0;
    margin: 8px 0;
  }
  .second-tier .span4 div {
    padding: 5% 6% 4% 6%;
  }
  .second-tier .cta {
    margin: 15px 0 0 0;
  }
  .third-tier .thumb-wrap {
    height: auto;
  }
  .third-tier p {
    padding: 0;
    font-size: 1em;
  }
  .third-tier .past-project {
    position: static;
    padding: 0;
    margin-top: 50px;
  }
  .second-tier,
  .third-tier {
    padding-bottom: 50px;
  }
  /* Work overview */
  .projects .span4 {
    height: auto !important;
    margin: 0 0 75px 0;
    width: 100%;
    margin-left: 0;
  }
  .projects .span4 img {
    max-width: 100%;
    margin: 0px auto !important;
    display: block;
  }
  .projects .span4 div {
    height: auto !important;
    position: relative !important;
  }
  .projects .span4 a {
    position: static !important;
    left: inherit !important;
  }
  .projects .span4 h5 {
    margin-top: 8px;
  }
  .projects .span4 h5,
  .projects .span4 p {
    padding-left: 0 10% 0 10% !important;
  }
  /* Project Pages */
  .shim-40,
  .shim-80,
  .shim-120,
  .shim-160 {
    display: none !important;
  }
  #hero-graphic {
    position: static;
    margin: inherit auto;
  }
  .hero {
    height: 280px;
  }
  .hero h2.long-ttl {
    font-size: 2.5em;
  }
  .hero h3 {
    font-size: 1.2em;
  }
  .project.header h2 {
    font-size: 2.25em;
    font-weight: 300;
  }
  .project.copy {
    padding: 10px 0 30px 0;
  }
  .project.copy .row-fluid blockquote {
    font-size: 1.4em;
    margin-top: 0 !important;
  }
  .project.copy img {
    position: static !important;
  }
  .project.copy h4 {
    font-size: 1.75em;
    font-weight: 300;
  }
  .project.copy p {
    font-size: 105%;
    line-height: 165%;
  }
  .project.copy .span1,
  .project.copy .span2,
  .project.copy .span3,
  .project.copy .span4,
  .project.copy .span5,
  .project.copy .span6,
  .project.copy .span7,
  .project.copy .span8,
  .project.copy .span9,
  .project.copy .span10,
  .project.copy .span11,
  .project.copy .span12 {
    margin: 1em 0;
    height: auto !important;
  }
  .project.copy .clear-pad {
    padding: 0px !important;
    margin: 0px !important;
  }
  hr.up.nav-divider {
    margin-top: 20px;
    background-size: 100% 50%;
  }
  .next-project,
  .prev-project {
    margin-top: 0;
    width: 35% !important;
  }
  .next-project a,
  .prev-project a {
    font-size: 135%;
    line-height: 180%;
    font-weight: 300;
  }
  .view-all-work {
    display: none;
  }
  /* Footer */
  #footer,
  .collapse .container {
    padding: 15px 0;
  }
  #footer .twitter .bird {
    left: inherit;
    right: 0;
  }
  #footer .blog h5 {
    background-position: right -63px;
  }
  #footer .music h5 {
    background-position: right -123px;
  }
  #footer .weather h5 {
    background-position: 1000px 1000px;
  }
  #footer .weather.sunny h5 {
    background-position: right -363px;
  }
  #footer .weather.foggy h5 {
    background-position: right -183px;
  }
  #footer .weather.cloudy h5 {
    background-position: right -423px;
  }
  #footer .weather.stormy h5 {
    background-position: right -243px;
  }
  #footer .weather.partly h5 {
    background-position: right -303px;
  }
  #footer .weather.rainy h5 {
    background-position: right -483px;
  }
  #footer #lastfm .frame {
    width: 40%;
  }
  #footer #lastfm img {
    margin: 0 !important;
  }
  #footer #lastfm .details {
    width: 60%;
  }
  #footer #lastfm .details div {
    margin-left: 8%;
    width: auto;
  }
  #footer #lastfm .details .song,
  #footer #lastfm .details .album {
    -webkit-mask-box-image: none;
  }
  #footer .span3 {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }
  #footer .span3 .pad {
    margin: 0 !important;
  }
  #footer .span3 .content {
    height: auto;
  }
  #footer .span3:after {
    width: 100%;
    height: 1px;
    border-right: none;
    border-bottom: 1px solid #4D4D4D;
    top: inherit;
    bottom: 0;
  }
  #footer .twitter .tweet-wrap {
    width: auto;
  }
  #footer .twitter #tweet-txt {
    height: auto;
  }
  #footer .api-link {
    position: static;
    clear: both;
    padding: 10px 0;
  }
  #sub-footer form {
    display: none;
  }
  /* 404 Page */
  .error404 h3,
  .error404 p {
    padding: 0;
  }
  .error404 p {
    font-size: 1.15em;
  }
  .error404 h3 {
    margin-top: 30px;
    font-size: 2.25em;
  }
  .error404 #darth {
    position: static;
    transform: scale(0.55, 0.55);
    -ms-transform: scale(0.55, 0.55);
    /* IE 9 */
  
    -webkit-transform: scale(0.55, 0.55);
    /* Safari and Chrome */
  
    -o-transform: scale(0.55, 0.55);
    /* Opera */
  
    -moz-transform: scale(0.55, 0.55);
    /* Firefox */
  
    transform-origin: left top;
    -ms-transform-origin: left top;
    /* IE 9 */
  
    -webkit-transform-origin: left top;
    /* Safari and Chrome */
  
    -o-transform-origin: left top;
    /* Opera */
  
    -moz-transform-origin: left top;
    /* Firefox */
  
  }
  /* Blog */
  .blog .container {
    margin-bottom: 0;
  }
  .blog .header h2 {
    font-size: 3em;
    font-weight: 300;
  }
  .blog .header h3 {
    font-size: 1.15em;
  }
  h1.entry-title {
    font-size: 1.75em;
  }
  .entry-content p {
    font-size: 100%;
  }
  .entry-meta p {
    float: none;
    margin: 0 0 0 45px;
    padding-top: 10px;
  }
  .entry-meta img {
    position: absolute;
  }
  .entry-meta .social_btns {
    display: none;
  }
  #nav-below .meta-nav {
    display: none !important;
  }
  #nav-below {
    padding-left: 0;
    padding-right: 0;
  }
  #nav-below .nav-previous,
  #nav-below .nav-next {
    width: 40%;
  }
  #nav-below .nav-previous a,
  #nav-below .nav-next a {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
}
