//
// Responsive: Tablet to desktop
// --------------------------------------------------

@import 'mixins.less';
@import 'variables.less';

@media (max-width: @minDesktop) {
	
	//body{ background: #F00 none; }
	
	.static .header, .blog .header{
		/*hr.up{ margin-bottom: 20px;  }*/
	}
	
	.project, .projects .header, .static .header, .blog .header{
	
		padding:30px 0 15px 0; //20px 0
		
		h2{ font-size:4.75em; }
		h3{ font-size:1.65em;}
	}
	
	.cta-wrapper{
		text-align:center;
	}
	
	.tier1 .pink-cta{ 
		position:static; 
		display:inline-block;  
		float:none;
		
		span{ display:inline-block;float:none; vertical-align:top; }
		
	}
	.tier2{ 
		.description{ width:70%; float:left; }
		.black-cta{ float:left; margin:0 0 0 15px; }
		.caps{ margin-bottom:0}
		.copy{ 
			width:100%;
			padding-top:0;
			margin:0 0 20px 0;
			h3{margin: 10px 0 6px 0; float:left}
		}
		.white-dotted{ width:100%; margin-left:0;}
		.span9{ width: 100%;margin:20px 0 0 0;  }
		img{ 
			margin:0 -15% 0 -15% !important; 
			max-width:125% !important; 
			position:static; 
			float:none;
		}	
	}
	.container{
		max-width:728px;
		margin:0 auto;
	}
	
	.row-cta{
		.quiet{ 
			margin:6px 0;
			font-size: 1.70em; text-align:right;
		}
	}
	
	#nav{
		overflow:hidden;
		width:auto;
		float:right;
	}
	
	
	br{ display:none; }
	br.hold{ display: inherit; }
	#footer br{ display: inherit; }
	#foot,#footer{ height:auto;}
	#footer .modules{
		.span3{ 
			width: 50%;//(@fluidGridColumnWidth*6)+( @fluidGridGutterWidth*3 ); 
			margin:0; 
			padding: 0 0 40px 0;
			
			.pad{ padding:0;} 
		}
		.blog, .weather{
			
			.pad{ margin-left:@fluidGridGutterWidth*3; }
		}
		.blog:after{
			height:1px;
			width:200%;
			clear:both;
			
			background: transparent none repeat-x scroll 0 0;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAADUlEQVQIHWM4858BCAAJygHMQVdwbQAAAABJRU5ErkJggg==);
			right:0;
			bottom:10px;
			top:inherit;
		}
		
		#lastfm{
			.details{ 
				float:none;
				width: auto;
				margin: 0 15px 0 85px;
				div{  width:auto; }
				.song, .album { -webkit-mask-box-image: none; }
				.song span, .album span{ white-space: normal; }
			}
			
		}
		
	}
	
	.sub-footer{
		
		.span3{ margin:0; }
		.span9{ text-align:left; margin:0 0 15px 0; width:auto; }
	}
	
	
	img{ max-width:100%;}

	
	/* Our Work */
	
	.client-list li{
		width:25%;
	}
	
	.project .project-control{ display:none; }
	
	
	/* Home */
		

	/* About Us */
	

	
	/* Join Page */

	.join-us{
		
		.openings{
			
			margin:0 !important;
			
			.selector{ display:none; }
			li{ margin:10px 0; }
			li, li.first{ border:none;}
			a{ 
				padding:10px 16px;
				font-weight:bold;					
				background-color:#FFF;
				.border-radius(5px);
				border:1px solid #DDD;
				.inset-shadow(0, 0, 0, 0, rgba(0,0,0,0) );
				.transition(all .1s ease-in-out);

				&:link, &:visited {color: @blue;}
				&:hover{ color: #FFF; background-color:#333; border-color:transparent; }
				&:focus{
					@shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 0 8px rgba(105, 170, 186,.6);
					  .box-shadow(@shadow);
				}
				&:active {
					color:#FFF;
					border-color:transparent;
					background-color:#000;
					text-shadow:0 1px 1px rgba(0,0,0,.5);
					.inset-shadow(0px, 2px, 3px, 0px, rgba(0,0,0,.5) );
				}
			}
			a.active{
				//#gradient .vertical( @blue, rgba(105,170,186, 0) ); 
				background-color: #000;
				border-color:transparent;
				&:link, &:visited { color:#FFF; }
			}
		}
					
	}
	
	
	/* Blog */
	.blog br{ display:block; }
	#secondary{
		
		width: 29%;
		margin-left: 5%; 
		
		
		.widget-title{
			margin-bottom:3px;
			font-weight:300;
		}

		#searchform{
			 
			#s{ float:left; width:60%; margin:0 4px 0 0 ; }
			.blueBtn input{
				float:left;
				width:auto;
				font-size:1.2em;
				height:auto;
				line-height:160%;
				font-weight:700;
				padding:5px 6px 4px 6px;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: @minDesktop) { // max-width:979px
	.row { width:100%;}	
	#logo { width: 110px; }
}

@media (min-width:768px) and (max-width: @minDesktop) {
	.about-us .service{ min-height: 500px; }
}

@media (min-width:601px) and (max-width: @minDesktop){
	#nav{ display:block !important; }
}
