//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.icon-bar{
	height:2px;
	width:18px;
	margin:3px 0;
	display:block;
	background-color:#FFF;
}

.responsive-transition{
	@transition: height .15s ease-in-out, padding .15s ease-in-out, margin .15s ease-in-out;
	.transition( @transition );
}

@media (max-width: 767px) {
	
	
	#header .twitter{ display:none; }
	#logo{ width:95px; }
	#nav{
		float:right;
		margin:0;
		li a{ padding-left:10px; padding-right:10px; font-size: 100%; }
	}
	
	.container{
		width: 560px;
		margin:0 auto;
	}

 	.project.header .span9 { width:100%;}

	.what-it-is{ display:none !important; } 
	
	.hero{ 
		.span9{ width:100%;}
		h3{ padding-right:0; }
	}
	
	.hide-tablet{ display:none !important; }
	
	#slider .project-control{ display: none }
	
	#slider .slide0 h3{ font-size: 115%;
	 .cta{ background-image:none; }	
	}
	
	/* Project Pages */

	.hero{ height:380px } //originally 535px, 480px, 380px
	
	.projects, .project{
		h4{ font-size: 2em; }
		p{ font-size: 100%; }
	}
	
	.project.copy{
		p,h4{ padding-right:0;}
	}
	
	// put cite under quote
	.project.copy .row-fluid blockquote{ 
		font-size:1.75em; 
		width:100%;
	}
	.project.copy .cite{ 
		height:auto !important; 
		background-image:none; 
		padding:0 !important;
		width:100% !important;
		clear:left;
		
		span{ margin:0; }
		span, a{ position:static; }
		a{ margin-left:10px;}
	}
	
	
	.shim-40{ height:20px; }
	.shim-80{ height:40px; }
	.shim-120{ height:60px; }
	.shim-160{ height:80px; }
	
	/* Our Work */
	
	
	.projects .span4{ 
		
		height:345px; 
		width: 40%; 
		margin-right:10%;
		
		img{ max-width:110%}
		div{ height:230px !important; }
		p{ white-space: normal !important; }
	}
	
	
	/* Join Page */
	
		.join-us{
			
			.openings{
				margin-bottom:0;
				
				.selector{ display:none; }
				li{ margin:10px 0; }
				li, li.first{ border:none;}
				a{ 
					padding:10px 16px;
					font-weight:bold;					
					background-color:#FFF;
					.border-radius(5px);
					border:1px solid #DDD;
					.inset-shadow(0, 0, 0, 0, rgba(0,0,0,0) );
					.transition(all .1s ease-in-out);

					&:link, &:visited {color: @blue;}
					&:hover{ color: #FFF; background-color:saturate(@blue,15%); border-color:transparent; }
					&:focus{
						@shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 0 8px rgba(105, 170, 186,.6);
						  .box-shadow(@shadow);
					}
					&:active {
						color:#FFF;
						border-color:transparent;
						background-color:saturate(@blue, 15%);
						text-shadow:0 1px 1px rgba(0,0,0,.5);
						.inset-shadow(0px, 2px, 3px, 0px, rgba(0,0,0,.5) );
					}
				}
				a.active{
					//#gradient .vertical( @blue, rgba(105,170,186, 0) ); 
					background-color: @blue;
					border-color:transparent;
					&:link, &:visited { color:#FFF; }
				}
			}
						
		}
	
	/* About Us */
	
	.about-us{
		
		.service .pad{
			padding: 25px;
			.graphic{ 
				float:left;
				width:40%;
				margin-left:0;
			}
			h3,p,ul{ margin-left:45%;}
		}
		.service{  margin: 0 0 15px 0; }
		partners{ padding:20px 0; }
		
		.clients{ /*width: 463px;*/ .background-size(95%); height:180px; }
		.end h3{ margin-top:20px; }
	}
	
	/* Home */
	
	.third-tier .past-project { padding-left:0; margin-top:40px; }
	
	@import "twitter-anim.less";
	
	
	/* 404 Page */
	
	.error404{
		
		.span7{ 
			width:100%;
			margin-left:0 !important;
		}
		
		h3,p{ margin-left:0; padding-left:0 !important;}
		
		.no-overflow{ position:static; }
		#darth{
			.transform( scale(.75,.75) );
			.transform-origin( left top );
		}
	}
	
	/* Blog */
	
	#blog-content, #secondary{ width: 100%; margin:0; }
	
	.widget_recent_entries, .widget_most_popular_tags{
		display:none;
	}
	#secondary hr{ display:block; }
	#secondary #searchform{
		width:100%;
		max-width:220px;
/*		 #s { }
		.blueBtn input{ } 
*/		
	}
	
	.blog .page-title{ font-size: 1.5em; }
	
}