@import 'mixins.less';
@import 'variables.less';

@media (max-width: 320px) {
	
	.project, .projects{
		h2{ font-size:2.2em}
	}
	
	.second-tier{
		h2{ font-size:1.75em; }
	}
	
	h3{ font-size: 1.75em; font-weight: 300; }
	
	/* About Us */
	
	.about-us{
		.heart{ height:1.1em; }
		.header h3{
			font-size:1.1em;
		}
		
		.clients{ height:155px;}
		
		.service .pad h3 { font-size:1.5em; /*font-weight:500;*/}
	}
	
	/* Project Pages */
	
	.project.copy h4{ font-size:1.5em; font-weight:300;}
	.project.header h2{ font-size: 2em; }
}

@media (max-width:280px){
	#logo{ float:right; margin:0; }
}