.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 959px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
.width-stacking {
  width: 100% !important;
  float: none;
  position: static;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.width-stacking img {
  margin: 10px auto;
  display: block;
  float: none !important;
}
.width-stacking div {
  margin: 10px 0 !important;
}
.width-stacking h4,
.width-stacking p {
  padding: 0 !important;
}
@media (max-width: 767px) {
  .width-tablet {
    width: 100% !important;
    float: none;
    position: static;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .width-tablet img {
    margin: 10px auto;
    display: block;
    float: none !important;
  }
  .width-tablet div {
    margin: 10px 0 !important;
  }
  .width-tablet h4,
  .width-tablet p {
    padding: 0 !important;
  }
  .width-tablet [class*="span"] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .width-mobile {
    width: 100% !important;
    float: none;
    position: static;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .width-mobile img {
    margin: 10px auto;
    display: block;
    float: none !important;
  }
  .width-mobile div {
    margin: 10px 0 !important;
  }
  .width-mobile h4,
  .width-mobile p {
    padding: 0 !important;
  }
  .width-mobile [class*="span"] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 959px) {
  .width-lg-tablet {
    width: 100% !important;
    float: none;
    position: static;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .width-lg-tablet img {
    margin: 10px auto;
    display: block;
    float: none !important;
  }
  .width-lg-tablet div {
    margin: 10px 0 !important;
  }
  .width-lg-tablet h4,
  .width-lg-tablet p {
    padding: 0 !important;
  }
  .width-lg-tablet [class*="span"] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .hide-lg-tablet {
    display: none !important;
  }
  img.width-lg-tablet {
    margin: 15px 0;
  }
}
