.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cover-bg {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{abs_path_img}', sizingMethod='scale'); 
     -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{abs_path_img}', sizingMethod='scale')";
 */
}
.twitter .bird.animating {
  -webkit-animation: flyawayMobile 2s;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-duration: 1.7s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform: rotate(-370deg);
}
@-webkit-keyframes flyawayMobile {
  0% {
    top: 3px;
    left: 130px;
  }
  20% {
    left: 210px;
    background-color: transparent;
  }
  35% {
    top: -177px;
  }
  50% {
    left: 130px;
    background-color: transparent;
  }
  65% {
    top: -117px;
  }
  70% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    top: -257px;
    left: 310px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
